<%
image_url = article.cover_image.present? ? article.cover_image.file.width(600).height(300).fit("crop").auto("enhance").format(:jpg).to_url : ""
if image_url != ""
  css_class = "with-image"
  content_for(:css) do
    "#article-#{article.id} .post-image{ background-image: url('#{image_url}')}"
  end
else
  css_class = "no-image"
end
%>

<article class="blog-post flex items-stretch w-full md:w-1/2 <%= css_class %>">
  <% link_to "/blog/#{article.slug}/index.html", class: "m-4 shadow hover:shadow-lg bg-white rounded cursor-pointer flex flex-col w-full", id: "article-#{article.id}" do %>
    <div class="post-image rounded-t bg-cover bg-no-repeat <%= article.cover_position %>">
    </div>
    <div class="post-info  p-4 md:p-6">
      <h3 class="leading-tight"><%= article.title %></h3>
      <%= markdown(article.introduction) if article.introduction %>
    </div>
  <% end %>
</article>
