.post-image{
  height: 200px;
}
.blog-post > a:hover{
  @apply .shadow-lg;
  transition: all .4s ease;
  transform: translate3D(0,-1px,0) scale(1.01);
}

@screen md {
  .post-image{
    min-height: 300px;
    height: 100%;
  }
  .blog-post:first-of-type{
    @apply .w-full;
  }
  .blog-post:first-of-type > a{
      @apply .flex-row;
      & .post-image{
         @apply .flex-auto .rounded-l .rounded-r-none;
      }
      & .post-info{
        @apply .w-1/2;
      }
  }
}
@screen lg {
  .blog-post:first-of-type > a .post-info{
    @apply .w-2/5;
  }
}
