---
title: Welcome to Middleman
---
<% content_for(:meta) do %>
  <%= dato_meta_tags(dato.homepage) %>
<% end %>

<header class="min-h-screen homepage-header relative flex flex-col items-center justify-center bg-black text-white">
  <div class="container text-center p-8">
    <%= partial "/partials/logo" %>
    <!--<div class="py-2 text-sm sm:text-md md:text-lg lg:text-xl font-bold uppercase">Feel the Web</div>-->
  </div>
</header>

<!--<footer>
  <div class="container py-4 flex items-center justify-center">
    <div class="">
      LIENS
    </div>
    <div class="flex-1 text-center">
      <%= partial "/partials/logosm" %>
    </div>
    <div class="">
      SOCIALS
    </div>
  </div>
</footer>-->
