---
title: Welcome to Middleman
---
<% content_for(:meta) do %>
  <%= dato_meta_tags(dato.homepage) %>
<% end %>

<header class="homepage-header relative flex flex-col items-center justify-center bg-black text-white">
  <div class="container text-center p-8">
    <%= partial "/partials/logo" %>
    <h2 class="py-2 text-sm sm:text-md md:text-lg lg:text-xl font-bold uppercase">
      <%= dato.homepage.subtitle %>
    </h2>
  </div>
</header>
<section class="homepage-blog">
    <div class="container">
      <div class="flex flex-wrap justify-center -mx-4">
        <% dato.articles.sort_by(&:published_date).reverse[0...3].each_with_index do |article, index| %>
          <%= partial "partials/blog/list", locals: { article: article, index: index+1 } %>
        <% end %>
      </div>
    </div>
</section>
